.table {
  &__condition {
    display: flex;
    height: 3rem;
    padding-top: 14px;
    border-bottom: 2px solid rgb(146, 146, 146);
    font-weight: bold;
    &__data {
      flex-grow: 2;
      text-align: center;
      display: flex;
      align-items: center;
      padding-left: 1rem;
    }
    &__type {
      flex-grow: 3;
      text-align: center;
      display: flex;
      align-items: center;
    }
    &__account {
      flex-grow: 3;
      text-align: center;
      display: flex;
      align-items: center;
    }
    &__status {
      flex-grow: 2;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__tasks {
    :link {
      color: black;
    }
    :visited {
      color: black;
    }
    &__link {
      text-decoration: none;
    }
  }
  &__pagination {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
